body {
    background-size: auto;
    background: linear-gradient(45deg, #93adae 0%, #353535 100%);
    background-attachment: fixed;

}

.flex {
    display: flex;
}

.bodyAccNeg {
    background-image: none;
    background-color: gray !important;
    font-family: Tahoma, Verdana, sans-serif;
    color: #d9d9d9;
}


.home {
    width: 100%;
}

.title,
.subTitle {
    font-family: Tahoma, Verdana, sans-serif;
    text-align: center;

}

.title {
    margin-top: 10px;
    font-size: 50px;
    color: #d9d9d9;
    /*text-shadow: 1px 0 #353535, -1px 0 #353535, 0 1px #353535, 0 -1px #353535,
    1px 1px #353535, -1px -1px #353535, 1px -1px #353535, -1px 1px #353535;*/

}

.subTitle {
    margin-top: 20px;
    font-size: 30px;
    color: #353535;
    text-align: center;
    text-shadow: 1px 0 #93adae, -1px 0 #93adae, 0 1px #93adae, 0 -1px #93adae,
        1px 1px #93adae, -1px -1px #93adae, 1px -1px #93adae, -1px 1px #93adae;

    /*text-shadow: 1px 0 #d9d9d9, -1px 0 #d9d9d9, 0 1px #d9d9d9, 0 -1px #d9d9d9,
    1px 1px #d9d9d9, -1px -1px #d9d9d9, 1px -1px #d9d9d9, -1px 1px #d9d9d9;*/
}

#casellaDiPosta {
    margin-top: 10px;
    font-size: 50px !important;
    color: #d9d9d9 !important;
    font-family: Tahoma, Verdana, sans-serif !important;
    text-align: left;
}

#hrChat {
    position: absolute;
    width: 300px;
    margin-left: -40px;
    height: 620px;
    border-right: none;
    border-bottom: none;
    border-top: none;
}


#tableMainTitle {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 20px;
    margin-left: 70px;
    font-family: Tahoma, Verdana, sans-serif;
    color: #353535;
}

.divFormLogin {

    width: 400px;
    height: max-content;
    background-repeat: no-repeat;
    border-radius: 20px;
    border-style: groove;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);

    padding: 40px;
    text-align: center;
    line-height: 20%;


}

#infoPsw {
    position: absolute;
    margin-left: 43%;
    margin-top: 40%;
    cursor: help;
}

.divFormRegister {
    width: 400px;


    border-radius: 20px;
    border-style: groove;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);

    padding: 40px;
    text-align: center;
    line-height: 60%;
}

#menuMod {
    display: grid;
    grid-template-columns: auto auto;
    width: 500px;
    height: fit-content;

    border-radius: 20px;
    border-style: groove;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);

    padding: 40px;
    text-align: center;
    color: white;
    z-index: -1;
}

span {
    padding: 20px;
}

.divUploadWork {
    width: 400px;
    height: 300px;

    border-radius: 20px;
    border-style: groove;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);

    padding: 40px;
    text-align: center;
    line-height: 60%;
}

#divModUsername {
    display: none;
    position: absolute;
    width: 400px;
    height: 350px;
    background-repeat: no-repeat;
    border-radius: 20px;
    border-style: groove;
    margin-left: 37%;
    margin-top: 15%;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);

    padding: 2%;
    text-align: center;
    line-height: 20%;
    z-index: 1;
}

#divModEmail {
    display: none;
    position: absolute;
    width: 400px;
    height: 350px;
    background-repeat: no-repeat;
    border-radius: 20px;
    border-style: groove;
    margin-left: 37%;
    margin-top: 15%;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);

    padding: 2%;
    line-height: 20%;
    z-index: 1;
}

#divModPassword {
    display: none;
    position: absolute;
    width: 400px;
    height: 350px;
    background-repeat: no-repeat;
    border-radius: 20px;
    border-style: groove;
    margin-left: 37%;
    margin-top: 15%;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);

    padding: 2%;
    text-align: center;
    line-height: 20%;
    z-index: 1;
}

#divModPassword .exit,
#divModEmail .exit,
#divModUsername .exit {
    margin-left: 92%;
    margin-top: 0%;
}

.label {
    margin-left: 20px;
}

#inputPassword,
#inputUsername,
#inputUsernameMod,
#inputEmail,
#inputPswConfirmMail,
#inputPasswordOld,
#inputPasswordNew,
#inputPasswordNewConf,
#inputTitle,
#inputDesc,
#inputData,
#inputOra,
#inputMsgDest,
#inputMsgTitle,
#inputMsgContent {

    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    outline: none;
    box-sizing: border-box;
    font-family: Tahoma, Verdana, sans-serif;
}

input::placeholder {
    color: #eee !important;
}

textarea {
    resize: none;
}

.btnSubmit {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #ffffff;
    color: #3f5767;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
    font-style: bold;
    margin-top: 10%;
}

button:hover {
    transform: scale(1.02);
    background: #e0e0e0;
}

.formLogin {
    margin-top: 30px;
    font-size: 15px;
    color: #d9d9d9;
}

.formRegister {
    margin-top: 10px;
    font-size: 15px;
    color: #d9d9d9;
}

.formWork {
    margin-top: 10px;
    font-size: 15px;
    color: #d9d9d9;
}

.formMod {
    margin-top: 10px;
    font-size: 15px;
    color: #d9d9d9;
}

.formModUsername {
    font-size: 15px;
    color: #d9d9d9;
}

.formModEmail {
    font-size: 15px;
    color: #d9d9d9;
}

.formModPassword {
    font-size: 15px;
    color: #d9d9d9;
}



.linkRegister {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: normal;
    font-size: 15px;
    font-family: Tahoma, Verdana, sans-serif;
    color: #d9d9d9;
    cursor: pointer;
}

.linkRegister a:hover {
    color: #3f5767;
}

.linkRegister a {
    color: #353535;
}

.error {
    color: red;
    line-height: normal;
}


.boxGenitore {
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4%;
    margin-left: 2%;
}

.container {
    width: 100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.boxBtn {
    height: fit-content;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0%;
}

.boxAggiungiLavoro {
    float: left;
    position: relative;
    margin-top: 10px;
}

.boxInviaMessaggi {
    float: left;
    margin-top: 0px;
    position: relative;
}

.boxWorks {
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    border-style: groove;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 30px;
    text-align: center;
}

th,
tr,
td {
    height: max-content;
    font-size: 25px;
    color: #d9d9d9;
}

#header {
    width: 1500px;
    height: 100px;
}

.rows {
    width: 1500px;
    height: 250px;
}

.tableTitle {
    width: 250px;
}

.tableDesc {
    width: 1000px;
}

.tableHour {
    width: 175px;
}

.tableDate {
    width: 175px;
}

#btnMsg {
    border: none;
    border-radius: 8px;
    background: #ffffff;
    color: #3f5767;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    height: fit-content;
    width: 80%;
    padding: 12px;
    font-size: 100%;
    text-align: center;

}

#tableBodyProj {
    font-family: Tahoma, Verdana, sans-serif;
    color: #353535;
}

#btnAddWork {
    height: fit-content;
    width: 80%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #ffffff;
    color: #3f5767;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
    font-size: 100%;
    text-align: center;
}
.titleNavBar{
    color: white;
    margin-right: 720px;
    
}
#creaProgetto {
    text-align: center;
    color: #6c7a89;
    font-size: 100px;
}


input {
    background-color: #818887;
}

.rowNoProject,
.rowNoMsg {
    height: 100px;
}

#colNoProject,
#colNoMsg {
    text-align: center;
}

#casellaDiPosta {
    position: absolute;
    color: #6c7a89;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
}

#barra {
    height: 30px;
    padding-left: 80%;
    padding-top: 5px;
    background-color: rgb(3, 67, 3);
}

#dropDownMenu {
    display: none;
    position: absolute;
    min-width: 150px;
    right: 0;
    border-style: groove;
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.651);
    z-index: 1;
}

#dropDownMenu p {
    color: black;
    text-decoration: none;
    display: block;
    font-family: Tahoma, Verdana, sans-serif;

}

#modInfo {
    color: #d9d9d9;
    text-shadow: 1px 0 #353535, -1px 0 #353535, 0 1px #353535, 0 -1px #353535,
        1px 1px #353535, -1px -1px #353535, 1px -1px #353535, -1px 1px #353535;
}

#messaggi {
    margin-top: 10px;
    position: relative;
    width: 74%;
    border-radius: 20px;
    border-style: groove;
    margin-left: 250px;
    margin-right: auto;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 30px;
    text-align: left;
    z-index: 0;
}

#tableBodyMsg {
    margin-top: 10px;
    position: relative;
    margin-left: 250px;
    margin-right: auto;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    text-align: left;
    z-index: 0;
}

#tableMsgData {
    width: 170px;
}

#write {
    width: 200px;
    height: 80px;
    font-family: Tahoma, Verdana, sans-serif;
    border: none;
    border-radius: 8px;
    background: #ffffff;
    color: #3f5767;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 120px;
    font-style: bold;
    font-size: larger;
    font-size: 200%;
}

button:hover {
    transform: scale(1.02);
    background: #e0e0e0;
}

.class {
    color: red;
}

a {
    text-decoration: none;
}

#ordina {
    cursor: pointer;
    background-color: gainsboro;
    border-color: rgb(255, 255, 255);
    height: 30px;
    margin-right: 10px;
    color: white;
}

#ordina:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#ordina:hover #dropDownMenu {
    display: block;
}

#menuOpzioni {
    margin-top: -100px;
    width: 68%;
    height: 0px;
    border-radius: 20px;
    border-style: groove;
    margin-left: 250px;
    margin-right: auto;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 30px;
    text-align: left;
    color: white;
}

.cestino {
    width: 50px;
    height: 35px;
    border-radius: 50px;
    border-style: groove;
    margin-top: -105px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white !important;

}

.checkRead {
    cursor: pointer;
    height: 35px;
    margin-right: 10px;
    width: 200px;
    height: 35px;
    border-radius: 50px;
    border-style: groove;
    margin-top: -105px;
    margin-left: auto;
    margin-right: auto;
    font-size: 80%;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white !important;

}

.btnSelezionaMsg {
    width: 20px;
    height: 20px;
}

.btnSelezionaMsg:checked::after {
    background-color: #3f5767;
}

#tastiMenuOrdina {
    margin-top: -1%;
}

#ordina {
    width: 195px;
    border-radius: 50px;
    border-style: groove;
    margin-top: -105px;
    margin-left: auto;
    margin-right: auto;
    font-size: 80%;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#opacityBox {
    width: 100%;
}

#scriviMail {
    display: none;
    position: absolute;
    width: 28%;
    height: 46%;
    background-repeat: no-repeat;
    border-radius: 20px;
    border-style: groove;
    margin-top: 150px;
    margin-left: 33%;
    margin-right: auto;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);

    padding: 40px;
    text-align: center;
    line-height: 20%;
    z-index: 100;
}

#send {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-style: bold;
    margin-top: 10%;

}

#send:hover {
    transform: scale(1.02);
    background: #e0e0e0;
}

.exit {
    cursor: pointer;
    font-size: 35px;
    font-weight: bold;
    color: #eee;
}

#formMessaggio .exit {
    margin-bottom: 0px;
    margin-left: 92%;
    margin-top: 0%;
}

#scriviMail .exit {
    margin-bottom: 20px;
    margin-left: 94%;
    margin-top: 0%;
}

.exit:hover {
    color: red;
}

#cancell {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #ffffff;
    color: red;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-style: bold;
    margin-top: 5%;
    font-weight: bold;
}

#scriviMail span {
    margin-left: 100px;
}

#formMessaggio {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    margin-left: 33%;
    margin-top: 15%;
    width: 500px;
    height: 350px;
    border-radius: 10px;
    z-index: 1;
}

#statusCodeAccNeg {
    font-size: 300%;
    margin-top: 5%;
    margin-left: 15%;
}

#lineaAccNeg {
    border-color: #353535;
    height: 3px;
    background-color: #353535;
    color: #353535;
    width: 80%;
}

#descAccNeg,
#msgAccNeg {
    margin-top: 3%;
    margin-left: 15%;
}

#linkToLogin {
    margin-top: 5%;
    margin-right: 70%;
    color: #353535 !important;
}

#linkToLogin :hover {
    color: #93adae !important;
}

#toChatBot {
    color: #d9d9d9;
}

#responseChatOllama {
    background-color: transparent;
    color: white;
    height: 450px;
    width: 300px;
    border: none;
}

#divChatBot {
    width: 25%;
    font-family: Tahoma, Verdana, sans-serif;
    color: #353535;
    padding-left: 3%;
}

#divChatName {
    color: white;
    font-size: xx-large;
}

#chatBot {
    display: flex;
    flex-direction: column;
}

#chatBot input {
    margin-top: 15px;
}

#requestChatOllama {
    height: 30px;
    position: absolute;
    margin-top: 390px !important;
    width: 300px;
    border-radius: 10px;
    background-color:#818887;
}

#sendReqChatbot {
    position: absolute;
    width: 308px;
    height: 30px;
    margin-top: 430px;
    border-radius:10px;
}

.navBar {
    position: sticky;
    margin-left: -10px;
    margin-top: -10px;
    height: 6%;
    width: 97%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    border-style: groove;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 30px;
}

.navBar button {
    height: 50px;
    width: 50px;
    margin-right: 15px;
    background: none;
    border-radius: 5px;
    border: none;
    font-size: 40PX;
    cursor: pointer;
}

.navBar button:hover {
    background-color: #93adae;
}

.navBar a {
    color: #d9d9d9;
}

.logout {
    height: 50px;
    width: 50px;
    font-size: 40px;
    margin-right: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #d9d9d9;
}

.logout :hover {
    color: black;
}

.menuButton {
    margin-right: auto;
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin-left: 11px;
    z-index: 2;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #d9d9d9;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

#iconBar {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    background: rgba(255, 255, 255, 0.1);
    height: 200px;
    width: 70px;
    margin-left: 1%;
    margin-top: 7.5%;
    z-index: 1;
}

#iconBar a {
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
    background-color: #3f4f5072;
    backdrop-filter: blur(15px);
    text-align: center;
    color: #3f5767;

}

#iconBar a:hover {
    background-color: #10b3beaf;
}

.openForm {
    border: none;
    border-radius: 8px;
    background: #ffffff;
    color: #3f5767;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#dataMessaggio {
    position: absolute;
    margin-left: 80%;
}

#corpoMessaggio {
    font-size: large;
}
#eliminaAccount{
    margin-left: 46%;
    margin-top: 20px;
    background-color: red;
    color: white;
    height: 30px;
    cursor: pointer;
}
#eliminaAccount:hover{
    background-color: rgb(160, 0, 0);
}

#usernameUser,
#emailUser {
    max-width: 14ch;
    overflow-wrap: break-word;
    margin-left: 25%;
}

.return {
    font-size: 30px;
    color: whitesmoke;
}

.return:hover {
    color: black;
}
