body{
    height: 1000px;
    background-image: radial-gradient(farthest-side at 50% 100%, rgb(85, 85, 85), black);
    background-repeat: no-repeat;
}
.title,.subTitle{
    font-family: Tahoma, Verdana, sans-serif;
    text-align: center;
    color: #159A9C;
}
.title{
    margin-top: 10px;
    font-size: 50px;
}
.subTitle{
    margin-top: 40px;
    font-size: 30px;
}
#tableMainTitle{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 50px;
}
.divFormLogin{
    width: 400px;
    height: 300px;
    border: 5px solid #03ffff;
    border-radius: 15px;
    border-style:groove;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-image: radial-gradient(farthest-side at 50% 100%, rgb(0, 240, 255)-30%, black);
    background-repeat: no-repeat;
    box-shadow: 0px 0px 15px #00f0ff;
}
.divFormRegister {
    width: 400px;
    height: 350px;
    
    border-radius: 20px;
    border-style: groove;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #159A9C;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background: linear-gradient(45deg, #159A9C 0%, #ffffff 100%);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.1);
    
    padding: 40px;
    text-align: center;
}

.divFormMod {
    width: 500px;
    height: 400px;
    
    border-radius: 20px;
    border-style: groove;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #159A9C;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background: linear-gradient(45deg, #159A9C 0%, #ffffff 100%);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.1);
    
    padding: 40px;
    text-align: center;
}

.label{
    margin-left: 20px;
}
#inputPassword, #inputUsername, #inputEmail {

    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: rgba(255,255,255,0.2);
    color: white;
    outline: none;
    box-sizing: border-box;
}


input::placeholder {
    color: #eee;
}

.btnSubmit{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #ffffff;
    color: #0d5859;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}
.formLogin{
    margin-top: 30px;
}
.formRegister {
    margin-top: 10px;
}

.formMod {
    margin-top: 60px;
}

.linkRegister {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.error{
    color: red;
}

.container{
    width: 1200px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.boxWorks{
    width: 1200px;
    height: fit-content;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border-collapse: collapse;
}
th, tr, td{
    height: max-content;
    border: 3px solid #4F5957;
    font-size: 25px;
    color: #6c7a89;
}
#header{
    width: 1500px;
    height: 100px;
}
.rows{
    width: 1500px;
    height: 250px;
}
.tableTitle{
    width: 250px;
}
.tableDesc{
    width: 1000px;
}
.tableHour{
    width: 175px;
}
.tableDate{
    width: 175px;
}
#btnMsg{
    border-color: rgb(126, 126, 126);
    border-radius: 10px;
    background-color:#11b2b4 ;
    color: white;
    width: 75px;
    height: 45px;
    margin-top: 100px;
    margin-left: 1000px;
    cursor: pointer;
}
#btnAddWork{
    margin-left: 1000px;
    width: 100px;
    height: 50px;
}
#creaProgetto{
    text-align: center;
    color:  #6c7a89;
    font-size: 100px;
}
#progect{
    width: 400px;
    height: 400px;
    border: 5px solid black;
    border-radius: 15px;
    border-style: groove;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4F5957;
}
#inputTitle, #inputDesc{
    width: 200px;
    margin-top: 30px;
    margin-left: 95px;
    margin-bottom: 20px;
}
#inputData{
    width: 100px;
    margin-left: 90px;
    margin-bottom: 20px;
}
#inputData, #inputTime{
    margin-top: 40px;
}
input{
    background-color:#818887;
}
.rowNoProject, .rowNoMsg {
    height: 100px;
}
#colNoProject, #colNoMsg {
    text-align: center;
}
#casellaDiPosta{
    position: absolute;
    color: #6c7a89;
    font-size: 80px;
    font-family:'Times New Roman', Times, serif;
}
#barra{
    height: 30px;
    padding-left: 80%;
    padding-top: 5px;
    background-color: rgb(3, 67, 3);
}
#dropDownMenu{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
}
#dropDownMenu p{
  color: black;
  text-decoration: none;
  display: block;
}
#messaggi{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    margin-top: 250px;
    border-collapse: collapse;
}
#tableMsgData{
    width: 170px;
}
#write{
    border-radius: 5px;
    background-color: #9199a1;
    border: inset;
    width: 115px;
    height: 60px;
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    position: absolute;
    margin-top: 120px;
    cursor: pointer;
}
a{
    text-decoration: none;
}
#ordina{
    cursor: pointer;
    background-color: gainsboro;
    border-color: gray;
    height: 30px;
    margin-right: 10px;
}
#ordina:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#ordina:hover #dropDownMenu{
    display: block;
}
#menuOpzioni{
    position: absolute;
    margin-left: 420px;
    margin-top: 200px;
}
#menuOpzioni .cestino{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
#scriviMail{
    position: absolute;
    margin-left: 33%;
    border: 3px solid #010A26;
    background-color: #113859;
    width: 500px;
    height: 350px;
    margin-top: -110px;
    border-radius: 10px;
    display: none;
}
#scriviMail input, textarea{
    margin-left: 100px;
    width: 300px;
    height: 30px;
}
#scriviMail label{
    margin-left: 100px;
    font-size: large;
    color: #0D0000;
}
#inputMsgContent{
    height: 100px !important;
}
#send{
    margin-left: 100px;
    margin-top: 10px;
    width: 70px;
    height: 40px;
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: outset;
    border-width: 3px;
    cursor: pointer;
}
#exit{
    margin-left: 472px;
    margin-bottom: 10px;
    margin-top: 1px;
    cursor: pointer;
    font-size: 35px;
    font-weight: bold;
}
#exit:hover{
    color: red;
}
#cancell{
    color: white;
    background-color: red;
    width: 120px;
    height: 40px;
    cursor: pointer;
    margin-left: 120px;
    font-size: 20px;
    font-weight: bold;
}
#scriviMail span{
    margin-left: 100px;
}
#inputMsgContent{
    resize: none;
}
#light-dotLeft{
    position: absolute;
    display: none;
    width: 10px;
    height: 10px;
    background-color: #cffdff;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff,
    -5px 0 15px 2px #17effe, 
    -20px 0 20px #00f0ff;
    offset-path: path("M 567,23 L 940,23 Q 955,23 955,38 L 955,313 Q 955,328 940,328 L 566,325 Q 551,325 551,313 L 552,38 Q 552,23 567,23");
    animation: moveAlongPath 6s infinite linear, flicker 0.8s infinite alternate;
}
@keyframes flicker {
  from { opacity: 1; transform: scale(1); }
  to { opacity: 0.9; transform: scale(0.9); }
}
@keyframes moveAlongPath {
  from {
    offset-distance: 0%;
  }
  to {
    offset-distance: 100%;
  }
}
#light-dotRight{
    position: absolute;
    display: none;
    width: 10px;
    height: 10px;
    background-color: #cffdff;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff,
    -5px 0 15px 2px #17effe, 
    -20px 0 20px #00f0ff;
    offset-path: path("M 940,23 L 567,23 Q 552,23 552,38 L 552,313 Q 552,328 567,328 L 941,325 Q 956,325 956,313 L 955,38 Q 955,23 940,23");
    animation: moveAlongPath 6s infinite linear, flicker 0.8s infinite alternate;
}
.bodyAccNeg{
    background-color: gray;
}

#statusCodeAccNeg{
    font-size: 300%;
    margin-top: 5%;
    margin-left: 15%;
}

#lineaAccNeg{
    margin-left: 15%;
    border-color: black;
    height: 3px;
    background-color: black;
}
#descAccNeg,#msgAccNeg{
    margin-top: 3%;
    margin-left: 15%;
}
#linkToLogin{
    margin-top: 5%;
    margin-left: 70%;
}
