body{
    height: 1000px;
    background-image: radial-gradient(farthest-side at 50% 100%, rgb(85, 85, 85), black);
    background-repeat: no-repeat;
}
.title,.subTitle{
    text-align: center;
    color: #159A9C;
}
.title{
    margin-top: 10px;
    font-size: 50px;
}
.subTitle{
    margin-top: 40px;
    font-size: 30px;
}
#tableMainTitle{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 50px;
}
.divFormLogin{
    width: 400px;
    height: 300px;
    border: 5px solid black;
    border-radius: 15px;
    border-style:groove;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #159A9C;
}
.divFormRegister {
    width: 400px;
    height: 400px;
    border: 5px solid black;
    border-radius: 15px;
    border-style: groove;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #159A9C;
}
.label{
    margin-left: 50px;
}
#inputPassword, #inputUsername, #inputEmail {
    width: 200px;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
}
.btnSubmit{
    width: 60px;
    margin-top: 10px;
    margin-left: 300px;
}
.formLogin{
    margin-top: 30px;
}
.formRegister {
    margin-top: 60px;
}
.linkRegister {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.error{
    color: red;
}

.container{
    width: 1200px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.boxWorks{
    width: 1200px;
    height: fit-content;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border-collapse: collapse;
}
th, tr, td{
    height: max-content;
    border: 3px solid #4F5957;
    font-size: 25px;
    color: #6c7a89;
}
#header{
    width: 1500px;
    height: 100px;
}
.rows{
    width: 1500px;
    height: 250px;
}
.tableTitle{
    width: 250px;
}
.tableDesc{
    width: 1000px;
}
.tableHour{
    width: 175px;
}
.tableDate{
    width: 175px;
}
#btnMsg{
    border-color: rgb(126, 126, 126);
    border-radius: 10px;
    background-color:#11b2b4 ;
    color: white;
    width: 75px;
    height: 45px;
    margin-top: 100px;
    margin-left: 1000px;
}
#btnAddWork{
    margin-left: 1000px;
    width: 100px;
    height: 50px;
}
#creaProgetto{
    text-align: center;
    color:  #6c7a89;
    font-size: 100px;
}
#progect{
    width: 400px;
    height: 400px;
    border: 5px solid black;
    border-radius: 15px;
    border-style: groove;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4F5957;
}
#inputTitle, #inputDesc{
    width: 200px;
    margin-top: 30px;
    margin-left: 95px;
    margin-bottom: 20px;
}
#inputData{
    width: 100px;
    margin-left: 90px;
    margin-bottom: 20px;
}
#inputData, #inputTime{
    margin-top: 40px;
}
input{
    background-color:#818887;
}
.rowNoProject, .rowNoMsg {
    height: 100px;
}
#colNoProject, #colNoMsg {
    text-align: center;
}
#casellaDiPosta{
    position: absolute;
    color: #6c7a89;
    font-size: 80px;
    font-family:'Times New Roman', Times, serif;
}
#barra{
    height: 30px;
    padding-left: 80%;
    padding-top: 5px;
    background-color: rgb(3, 67, 3);
}
#dropDownMenu{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
}
#dropDownMenu p{
  color: black;
  text-decoration: none;
  display: block;
}
#messaggi{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    margin-top: 250px;
    border-collapse: collapse;
}
#tableMsgData{
    width: 170px;
}
#send{
    border-radius: 5px;
    background-color: #9199a1;
    border: inset;
    width: 115px;
    height: 60px;
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    position: absolute;
    margin-top: 120px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
#ordina{
    cursor: pointer;
    background-color: gainsboro;
    border-color: gray;
    height: 30px;
    margin-right: 10px;
}
#ordina:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#ordina:hover #dropDownMenu{
    display: block;
}
#menuOpzioni{
    position: absolute;
    margin-left: 420px;
    margin-top: 200px;
}
#menuOpzioni .cestino{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
#scriviMail{
    position: absolute;
    margin-left: 33%;
    border: 3px solid #010A26;
    background-color: #113859;
    width: 500px;
    height: 300px;
    margin-top: -110px;
    border-radius: 10px;
    display: none;
}
#scriviMail input, textarea{
    margin-left: 100px;
    width: 300px;
    height: 30px;
}
#scriviMail label{
    margin-left: 100px;
    font-size: large;
    color: #0D0000;
}
#inputMsgContent{
    height: 100px !important;
}
#scriviMail button{
    margin-left: 100px;
    margin-top: 10px;
    width: 70px;
    height: 40px;
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: outset;
    border-width: 3px;
    cursor: pointer;
}
#exit{
    margin-left: 484px;
    margin-bottom: 10px;
    margin-top: -2px;
    cursor: pointer;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
