body{
    background-color: #B4BEC9;
}
.title,.subTitle{
    text-align: center;
    color: #159A9C;
}
.title{
    margin-top: 100px;
    font-size: 50px;
}
.subTitle{
    margin-top: 50px;
    font-size: 30px;
}
#tableMainTitle{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 50px;
}
.divFormLogin{
    width: 400px;
    height: 300px;
    border: 5px solid black;
    border-radius: 15px;
    border-style:groove;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #159A9C;
}
.divFormRegister {
    width: 400px;
    height: 400px;
    border: 5px solid black;
    border-radius: 15px;
    border-style: groove;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #159A9C;
}
.label{
    margin-left: 50px;
}
#inputPassword, #inputUsername, #inputEmail {
    width: 200px;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
}
.btnSubmit{
    width: 60px;
    margin-top: 10px;
    margin-left: 300px;
}
.formLogin{
    margin-top: 60px;
}
.formRegister {
    margin-top: 60px;
}
.linkRegister {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#errEmailReg, #errPswReg{
    color: red;
}

.container{
    display: flex;
    width: 1500px;
    height: fit-content;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.boxWorks{
    display: flex;
    width: 1500px;
    height: fit-content;
    border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border-collapse: collapse;
}
#header{
    width: 1500px;
    height: 100px;
}
.rows{
    width: 1500px;
    height: 250px;
}
.tableTitle{
    width: 250px;
    height: max-content;
    border: 1px solid red;
    border-radius: 10px;
    font-size: 25px;
}
.tableDesc{
    width: 1000px;
    height: max-content;
    border: 1px solid red;
    border-radius: 10px;
    font-size: 25px;
}
.tableHour{
    width: 175px;
    height: max-content;
    border: 1px solid red;
    border-radius: 10px;
    font-size: 25px;
}
.tableDate{
    width: 175px;
    height: max-content;
    border: 1px solid red;
    border-radius: 10px;
    font-size: 25px;
}
#btnMsg{
    border-color: rgb(126, 126, 126);
    border-radius: 10px;
    background-color:#11b2b4 ;
    color: white;
    width: 75px;
    height: 45px;
    margin-top: 100px;
    margin-left: 1750px;
}




