body{
    background-size: auto ;
    background: linear-gradient(45deg, #93adae 0%, #353535 100%);
    background-attachment: fixed;

}
.flex{
    display: flex;
}
.bodyAccNeg{
    background-image: none;
    background-color: gray !important;
}
.home{
    width: 100%;
}

.title,.subTitle{
    font-family: Tahoma, Verdana, sans-serif;
    color: #353535;
    text-align: center;
    
}
.title{
    margin-top: 10px;
    font-size: 50px;
    color: #d9d9d9;
    /*text-shadow: 1px 0 #353535, -1px 0 #353535, 0 1px #353535, 0 -1px #353535,
    1px 1px #353535, -1px -1px #353535, 1px -1px #353535, -1px 1px #353535;*/
    
}
.subTitle{
    margin-top: 20px;
    font-size: 30px;
    color: #353535;
    text-align: center;
    text-shadow: 1px 0 #93adae, -1px 0 #93adae, 0 1px #93adae, 0 -1px #93adae,
    1px 1px #93adae, -1px -1px #93adae, 1px -1px #93adae, -1px 1px #93adae;

    /*text-shadow: 1px 0 #d9d9d9, -1px 0 #d9d9d9, 0 1px #d9d9d9, 0 -1px #d9d9d9,
    1px 1px #d9d9d9, -1px -1px #d9d9d9, 1px -1px #d9d9d9, -1px 1px #d9d9d9;*/
}

#casellaDiPosta{
    margin-top: 10px;
    font-size: 50px !important;
    color: #d9d9d9 !important;
    font-family: Tahoma, Verdana, sans-serif !important;
    text-align: left;
}


#tableMainTitle{
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 20px;
    margin-left: 70px;
    font-family: Tahoma, Verdana, sans-serif;
    color: #353535;
}
.divFormLogin{

    width: 400px;
    height: 350px;
    background-repeat: no-repeat;
    border-radius: 20px;
    border-style: groove;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.1);
    
    padding: 40px;
    text-align: center;
    line-height: 20%;


}
.divFormRegister {
    width: 400px;
    height: 300px;
    
    border-radius: 20px;
    border-style: groove;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.1);
    
    padding: 40px;
    text-align: center;
    line-height: 60%;
}

#menuMod{
    display: grid;
    grid-template-columns: auto auto;
    width: 500px;
    height: 300px;
    
    border-radius: 20px;
    border-style: groove;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.1);
    
    padding: 40px;
    text-align: center;
}

.divUploadWork{
    width: 400px;
    height: 300px;
    
    border-radius: 20px;
    border-style: groove;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.1);
    
    padding: 40px;
    text-align: center;
    line-height: 60%;
}

#divModUsername{
    display: none;
    position: absolute;
    width: 400px;
    height: 350px;
    background-repeat: no-repeat;
    border-radius: 20px;
    border-style: groove;
    margin-left: 37%;
    margin-top: 15%;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.1);
    
    padding: 40px;
    text-align: center;
    line-height: 20%;
}

#divModEmail{
    display: none;
    position: absolute;
    width: 400px;
    height: 350px;
    background-repeat: no-repeat;
    border-radius: 20px;
    border-style: groove;
    margin-left: 37%;
    margin-top: 15%;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.1);
    
    padding: 40px;
    text-align: center;
    line-height: 20%;
}

#divModPassword{
    display: none;
    position: absolute;
    width: 400px;
    height: 350px;
    background-repeat: no-repeat;
    border-radius: 20px;
    border-style: groove;
    margin-left: 37%;
    margin-top: 15%;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.1);
    
    padding: 40px;
    text-align: center;
    line-height: 20%;
}

.label{
    margin-left: 20px;
}

#inputPassword, #inputUsername, #inputUsernameMod,
#inputEmail, #inputPswConfirmMail, #inputPasswordOld,
#inputPasswordNew, #inputPasswordNewConf, #inputTitle, #inputDesc, #inputData, #inputOra {

    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: rgba(255,255,255,0.2);
    color: white;
    outline: none;
    box-sizing: border-box;
}

input::placeholder {
    color: #eee;
}


.btnSubmit{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #ffffff;
    color: #3f5767;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
    font-style: bold;
    margin-top: 15%;
}

button:hover {
transform: scale(1.02);
background: #e0e0e0;
}

.formLogin{
    margin-top: 30px;
    font-size: 15px;
    color: #d9d9d9;
}
.formRegister {
    margin-top: 10px;
    font-size: 15px;
    color: #d9d9d9;
}

.formWork{
    margin-top: 10px;
    font-size: 15px;
    color: #d9d9d9;
}

.formMod{
    margin-top: 10px;
    font-size: 15px;
    color: #d9d9d9;
}

.formModUsername{
    margin-top: 10px;
    font-size: 15px;
    color: #d9d9d9;
}

.formModEmail{
    margin-top: 10px;
    font-size: 15px;
    color: #d9d9d9;
}

.formModPassword{
    margin-top: 10px;
    font-size: 15px;
    color: #d9d9d9;
}



.linkRegister {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: normal;
    font-size: 15px;
    font-family: Tahoma, Verdana, sans-serif;
    color: #d9d9d9;
}

.linkRegister a:hover {
  color: #3f5767;
}

.linkRegister a{ 
    color: #353535;
}
.error{
    color: red;
}


.boxGenitore{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 50px;
    margin-left: 70px;
}
.container{
    width: 100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.boxBtn{
    display: grid; 
    grid-template-rows: 1fr 1fr; 
    grid-gap: 0px;
}

.boxAggiungiLavoro{
    float:left;
    position:relative;
    margin-top: 10px;
}

.boxInviaMessaggi{
    float:left;
    margin-top: 0px;
    position:relative;
}

.boxWorks{
    width: 1200px;
    height: fit-content;
    border-radius: 20px;
    border-style: groove;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.1);
    padding: 30px;
    text-align: center;
}

th, tr, td{
    height: max-content;
    font-size: 25px;
    color: #d9d9d9;
}
#header{
    width: 1500px;
    height: 100px;
}
.rows{
    width: 1500px;
    height: 250px;
}
.tableTitle{
    width: 250px;
}
.tableDesc{
    width: 1000px;
}
.tableHour{
    width: 175px;
}
.tableDate{
    width: 175px;
}
#btnMsg{
    border: none;
    border-radius: 8px;
    background: #ffffff;
    color: #3f5767;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
    height: 50px;
    width: 80%;
    padding: 12px;
    
}

#tableBodyProj{
    font-family: Tahoma, Verdana, sans-serif;
    color: #353535;
}

#btnAddWork{
    height: 50px;
    width: 80%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #ffffff;
    color: #3f5767;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}

#creaProgetto{
    text-align: center;
    color:  #6c7a89;
    font-size: 100px;
}


input{
    background-color:#818887;
}
.rowNoProject, .rowNoMsg {
    height: 100px;
}
#colNoProject, #colNoMsg {
    text-align: center;
}
#casellaDiPosta{
    position: absolute;
    color: #6c7a89;
    font-size: 80px;
    font-family:'Times New Roman', Times, serif;
}
#barra{
    height: 30px;
    padding-left: 80%;
    padding-top: 5px;
    background-color: rgb(3, 67, 3);
}
#dropDownMenu{
    display: none;
    position: absolute;
    min-width: 150px;
    right: 0;
    border-style: groove;
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.1);
    background: rgba(255, 255, 255, 0.651);
    z-index: 1;
    }
#dropDownMenu p{
    color: black;
    text-decoration: none;
    display: block;
    font-family: Tahoma, Verdana, sans-serif;
    
   
}
#messaggi{
    margin-top: 10px;
    position: relative;
    width: 1212px;
    height: 0px;
    border-radius: 20px;
    border-style: groove;
    margin-left: 250px;
    margin-right: auto;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.1);
    padding: 30px;
    text-align: left;
    z-index: -1;


}
#tableMsgData{
    width: 170px;
}

#write{
    width: 200px;
    height: 80px;
    font-family: Tahoma, Verdana, sans-serif;
    border: none;
    border-radius: 8px;
    background: #ffffff;
    color: #3f5767;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 120px;
    font-style: bold;
    font-size: larger;
    font-size: 200%;
}

button:hover {
    transform: scale(1.02);
    background: #e0e0e0;
}



a{
    text-decoration: none;
}
#ordina{
    cursor: pointer;
    background-color: gainsboro;
    border-color: gray;
    height: 30px;
    margin-right: 10px;
}
#ordina:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#ordina:hover #dropDownMenu{
    display: block;
}
#menuOpzioni{
    margin-top: -100px;

    width: 1150px;
    height: 0px;
    border-radius: 20px;
    border-style: groove;
    margin-left: 250px;
    margin-right: auto;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.1);
    padding: 30px;
    text-align: left;
}
#menuOpzioni .cestino{
    width: 50px;
    border-radius: 50px;
    border-style: groove;
    margin-top: -105px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.1);

}

#ordina{
    width: 150px;
    border-radius: 50px;
    border-style: groove;
    margin-top: -105px;
    margin-left: auto;
    margin-right: auto;
    font-size: 80%;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.1);
}

#opacityBox{
    width: 100%;
}
#scriviMail{
    position: absolute;
    margin-left: 33%;
    border: 3px solid #010A26;
    background-color: #113859;
    width: 500px;
    height: 350px;
    margin-top: -110px;
    border-radius: 10px;
    display: none;
}
#scriviMail input, #scriviMail textarea{
    margin-left: 100px;
    width: 300px;
    height: 30px;
}
#scriviMail label{
    margin-left: 100px;
    font-size: large;
    color: #0D0000;
}
#inputMsgContent{
    height: 100px !important;
    resize: none;
}
#send{
    margin-left: 100px;
    margin-top: 10px;
    width: 70px;
    height: 40px;
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: outset;
    border-width: 3px;
    cursor: pointer;
}
#exit{
    margin-left: 472px;
    margin-bottom: 10px;
    margin-top: 1px;
    cursor: pointer;
    font-size: 35px;
    font-weight: bold;
}
#exit:hover{
    color: red;
}
#cancell{
    color: white;
    background-color: red;
    width: 120px;
    height: 40px;
    cursor: pointer;
    margin-left: 120px;
    font-size: 20px;
    font-weight: bold;
}
#scriviMail span{
    margin-left: 100px;
}
#lightDotLeft{
    position: absolute;
    display: none;
    width: 10px;
    height: 10px;
    background-color: #cffdff;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff,
    -5px 0 15px 2px #17effe, 
    -20px 0 20px #00f0ff;
    offset-path: path("M 567,23 L 940,23 Q 955,23 955,38 L 955,313 Q 955,328 940,328 L 566,325 Q 551,325 551,313 L 552,38 Q 552,23 567,23");
    animation: moveAlongPath 6s infinite linear, flicker 0.8s infinite alternate;
}
@keyframes flicker {
  from { opacity: 1; transform: scale(1); }
  to { opacity: 0.9; transform: scale(0.9); }
}
@keyframes moveAlongPath {
  from {
    offset-distance: 0%;
  }
  to {
    offset-distance: 100%;
  }
}
#lightDotRight{
    position: absolute;
    display: none;
    width: 10px;
    height: 10px;
    background-color: #cffdff;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff,
    -5px 0 15px 2px #17effe, 
    -20px 0 20px #00f0ff;
    offset-path: path("M 940,23 L 567,23 Q 552,23 552,38 L 552,313 Q 552,328 567,328 L 941,325 Q 956,325 956,313 L 955,38 Q 955,23 940,23");
    animation: moveAlongPath 6s infinite linear, flicker 0.8s infinite alternate;
}

#statusCodeAccNeg{
    font-size: 300%;
    margin-top: 5%;
    margin-left: 15%;
}

#lineaAccNeg{
    margin-left: 15%;
    border-color: black;
    height: 3px;
    background-color: black;
}
#descAccNeg,#msgAccNeg{
    margin-top: 3%;
    margin-left: 15%;
}
#linkToLogin{
    margin-top: 5%;
    margin-left: 70%;
}
#divChatBot{
    width: 20%;
}
#divChatName{
    color: white;
    font-size: xx-large;
}
#chatBot{
    display: flex;
    flex-direction: column;
}
#chatBot input{
    margin-top: 15px;
}
#sendReqChatbot{
    width: 100px;
    height: 30px;
}
.navBar{
    position: relative;
    margin-left: -10px;
    height: 15px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    border-style: groove;
    font-family: Tahoma, Verdana, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.1);
    padding: 40px;
}
.navBar button{
    height: 50px;
    width: 50px;
    margin-right: 15px;
    background: none;
    border-radius: 5px;
    border: none;
    font-size: 40PX;
    cursor: pointer;
}
.navBar button:hover{
    background-color: #93adae;
}
.navBar a{
    color: #d9d9d9;
}
.logout{
    font-size: 20px;
    margin-right: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #d9d9d9;
}
.menuButton {
  margin-right: auto;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
  margin-left: 11px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
#iconBar{
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    row-gap: 20px;
    z-index: 0.9;
    background-color: black;
    height: 242px;
    width: 56px;
}
#iconBar a{
    font-size: 36px;
    padding: 10px;
    cursor: pointer;
    background-color: green;
    text-align: center;
}
#iconBar a:hover{
    background-color: rgb(0, 55, 0);
}
.openForm{
    border: none;
    border-radius: 8px;
    background: #ffffff;
    color: #3f5767;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    width: 40%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
